/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

.unicorn-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



img {
	max-width: 300px;
	height: auto;
	padding: 40px;
	

}h1 {
	text-align: center;
	text-shadow: 1px 1px 2px #666666;
}